
<div class="card">	
	<%= render partial: '/pages/cards/card_image', locals: {image:imageObj["image"]} %>
	<%= render partial: '/pages/cards/card_name', locals: {name:imageObj["name"]} %>
	<%= render partial: '/pages/cards/card_artist', locals: {artist:imageObj["artist"]} %>
</div>