<div class="card">	
<div class="card_image">
	<%= render '/pages/cards/card_image', image:img_hash["image"] %>
</div>
	<div class="card_info">
		<%= render '/pages/cards/card_info', name:img_hash["name"], artist:img_hash["artist"] %>
	</div>
</div>
