<div class="refresh_form">
	<%= render '/pages/forms/refresh_button'%>
	<%= render '/pages/forms/refresh_counter', counter: @refresh_counter %>
</div>
<h2>Let's add some Magic: the Gathering card art!</h2>

<div class="card_container">
	<%= render partial: '/pages/cards/card', collection: session[:img_array], as: :imageObj %>
</div>

