<h1>Magic: the Gathering</h1>

<div class="refresh_form">
	<%= render '/pages/forms/refresh_button'%>
	<%= render '/pages/forms/refresh_counter', counter: @refresh_counter %>
</div>

<div class="card_container">
	<%= render partial: '/pages/cards/card', collection: session[:img_array], as: :img_hash %>
</div>